package-lock.json pr-size-ignore=true
**/*.test.** pr-size-ignore=true
**/*.mocks.* pr-size-ignore=true
**/*.mock-data.* pr-size-ignore=true

# build files
dist/** linguist-generated=true pr-size-ignore=true
